<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  <ng-container>
    <div fxFlex="0 1 calc(50%)">

      <mat-card class="example-card mat-elevation-z10">


        <mat-card-content>
          <h1 class="center page-title">{{'About' |translate}}</h1>
          <h2 class="center">{{'DATASOURCES' | translate}}: </h2>

          <ul>
            <li>
              corona.lmao.ninja API : This API scraps live data from: Worldometers.INFO & Johns Hopkins University - <a
                href="https://corona.lmao.ninja/docs" target="_blank" mat-button>DOCS</a>
            </li>
            <li>
              restcountries.eu API - <a href="https://restcountries.eu/" target="_blank" mat-button>DOCS</a>
            </li>
            <li>
              newsapi.org API - <a href="https://newsapi.org/docs" target="_blank" mat-button>DOCS</a>
            </li>
          </ul>

          <h2 class="center">{{'features about' | translate }}:</h2>
          <ul class="skills">
            <li>
              <a href="https://{{'lang' |translate}}.wikipedia.org/wiki/HTML5" target="_blank" mat-button><i
                  class="fab fa-html5"></i> HTML5</a>
            </li>
            <li>
              <a href="https://sass-lang.com/documentation/" target="_blank" mat-button><i class="fab fa-sass"></i>
                SASS</a>
            </li>
            <li>
              <a href="https://angular.io/" target="_blank" mat-button><i class="fab fa-angular"></i> Angular 9</a>
            </li>
            <li>
              <a href="https://material.angular.io/" target="_blank" mat-button><i class="fab fa-angular"></i> Angular
                Material</a>
            </li>
            <li>
              <a href="https://angular.io/guide/service-worker-intro" target="_blank" mat-button><i
                  class="fad fa-arrow-circle-down"></i> PWA Service</a>
            </li>
            <li>
              <a href="http://www.ngx-translate.com/" target="_blank" mat-button><i class="fad fa-language"></i>
                Ngx-Translate </a>
            </li>
            <li>
              <a href="https://material.angular.io/guide/theming" target="_blank" mat-button><i
                  class="far fa-fill-drip"></i> Light/Dark Mode</a>
            </li>
            <li>
              <a href="https://analytics.google.com/analytics/" target="_blank" mat-button><i
                  class="fas fa-analytics"></i> Google Analytics</a>
            </li>
          </ul>

        </mat-card-content>
        <mat-card-actions>

          <h3 class="center">{{'developed by' | translate}}</h3>
          <div class="center">
            <a href="https://edenik.com" mat-button class="mat-elevation-z10"><i class="fad fa-brackets-curly"></i>
              Edenik.com</a>
            <a href="https://github.com/Edenik/COVID19" target="_blank" mat-button class="mat-elevation-z10"><i
                class="fab fa-github"></i> GITHUB</a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>